xml/
json/
log/
.idea/
*.pyc
__pycache__/
venv/
validation_set_cache/
.last_setup_state
incoming/
platform.env
.vscode
.cache
.mypy_cache

modulo04/aula_template/email_data.py
modulo04/aula_compactar/descompactados
modulo04/aula_compactar/arquivo.zip
modulo04/aula_selenium/Perfil